<div class="row">
  <%- if @drink.errors.present? -%>
    <div class="large-12 alert-box alert" data-alert>
      <ul>
        <%- @drink.errors.full_messages.each do |error| -%>
          <li><%= error %></li>
        <%- end -%>
      </ul>
    </div>
  <%- end -%>

  <div class="large-12">
    <h1>New Drink</h1>

    <%= form_for @drink do |f| %>
      <%= f.label :title %>
      <%= f.text_field :title %>

      <%= f.label :description %>
      <%= f.text_area :description %>

      <%= f.label :category_id %>
      <%= f.collection_select :category_id,
        Category.all,
        :id,
        :name,
        {},
        class: 'chosen-select' %>

      <%= f.submit "Add Drink" %>
    <%- end -%>
  </div>
</div>

<%= content_for :extra_footer do %>
  <script type="text/javascript">
    $(function(){
      $('.chosen-select').chosen();
    });
  </script>
<%- end -%>
